In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
df1 =pd.read_csv('spam.csv', encoding='latin-1')
df1 = df1[['v1', 'v2']]   
df1.shape

(5572, 2)

In [4]:
df1.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...