In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
df1 =pd.read_csv('spam.csv', encoding='latin-1')
df1 = df1[['v1', 'v2']]   
df1.shape

(5572, 2)

In [4]:
df1.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df1.columns

Index(['v1', 'v2'], dtype='object')

In [6]:
df1.head(10)

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [9]:
df1.columns

Index(['v1', 'v2'], dtype='object')

In [13]:
df2 = df1.rename(columns={'v1': 'goal', 'v2': 'message'})
df2.head()

   goal                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [14]:
df2.shape

(5572, 2)

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [16]:
df2['goal'] = le.fit_transform(df2['goal'])
df2.head()

   goal                                            message
0     0  Go until jurong point, crazy.. Available only ...
1     0                      Ok lar... Joking wif u oni...
2     1  Free entry in 2 a wkly comp to win FA Cup fina...
3     0  U dun say so early hor... U c already then say...
4     0  Nah I don't think he goes to usf, he lives aro...

In [17]:
df2.isnull().sum()

goal       0
message    0
dtype: int64

In [18]:
df2.duplicated().sum()

np.int64(403)

In [19]:
df3= df2.drop_duplicates(keep='first')
df3.shape

(5169, 2)

In [20]:
df3.duplicated().sum()

np.int64(0)